<!DOCTYPE html>
<html lang="en">
  
<head>
    <!--  Title -->
    <title>Dashboard</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="/dashboard/dist/images/logos/favicon.png" />
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="/dashboard/dist/css/style.min.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Preloader -->
    <div class="preloader">
      <img src="/dashboard/dist/images/logos/favicon.png" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/files" class="text-nowrap logo-img">
              LOGO
              <!-- <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" /> -->
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar>
            <ul id="sidebarnav">
              <!-- ============================= -->
              <!-- Home -->
              <!-- ============================= -->
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <!-- =================== -->
              <!-- Dashboard -->
              <!-- =================== -->
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard" aria-expanded="false">
                  <span>
                    <i class="ti ti-cloud-upload"></i>
                  </span>
                  <span class="hide-menu">Add File</span>
                </a>
              </li> 
              <% if(user.role == 'admin'){  %>
                <li class="sidebar-item">
                  <a class="sidebar-link" href="/dashboard/add-user" aria-expanded="false">
                    <span>
                      <i class="ti ti-user-plus"></i>
                    </span>
                    <span class="hide-menu">Add User</span>
                  </a>
                </li> 
                <% } %>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/dashboard/add-folder" aria-expanded="false">
                  <span>
                    <i class="ti ti-folder-plus"></i>
                  </span>
                  <span class="hide-menu">Add Folder</span>
                </a>
              </li> 
              <a href="/api/logout" class="btn btn-primary fs-2 fw-semibold mt-3">Logout</a>

            
          </nav>
          <!-- <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
            <div class="hstack gap-3">
              <div class="john-img">
                <img src="/dashboard/dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
              </div>
              <div class="john-title">
                <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                <span class="fs-2 text-dark">Designer</span>
              </div>
              <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                <i class="ti ti-power fs-6"></i>
              </button>
            </div>
          </div>   -->
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- Sidebar End -->
      <!-- Main wrapper -->
      <div class="body-wrapper">
        <!-- Header Start -->
        <header class="app-header"> 
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link sidebartoggler nav-icon-hover ms-n3" id="headerCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <!-- <li class="nav-item d-none d-lg-block">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="ti ti-search"></i>
                </a>
              </li> -->
            </ul>
           <div class="d-block d-lg-none">
              LOGO
              <!-- <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
              <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" /> -->
            </div>
            
       
          </nav>
        </header>
        <!-- Header End -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-center gap-4 mb-4">
                <div class="position-relative">
                  <div class="border border-2 border-primary rounded-circle">
                    <img src="/dashboard/dist/images/profile/user-1.jpg" class="rounded-circle m-1" alt="user1" width="60" />
                  </div>
                  <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"> 3 <span class="visually-hidden">unread messages</span> -->
                  </span>
                </div>
                <div>
                  <h3 class="fw-semibold">Hi, <span class="text-dark">Sir</span>
                  </h3>
                  <span>Cheers, and happy activities - <%= new Date().toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) 
                    %></span>
                </div>
              </div>
         </div>
         
          </div>
          <div class="row">
            <div class="col-12">
              
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-3">Add User</h5>
                  <form action="/api/add-user" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-floating mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="tb-fname"
                            placeholder="Name"
                            name="name"
                          />
                          <label for="tb-fname">Name</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="tb-fname"
                            placeholder="Username"
                            name="username"
                          />
                          <label for="tb-fname">Username</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="tb-fname"
                            placeholder="Password"
                            name="password"
                          />
                          <label for="tb-fname">Password</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                    
                        <select
                      class="select2 form-control"
                      style="width: 100%; height: 48px"
                      name="role"
                    >
                      <option>User Role</option>
                      
                        <option value="sub-admin">Sub-Admin</option>
                        <option value="user">User</option>
                        
                    </select>
                        
                        
                      </div>
                     
                      <div class="col-12">
                        <div class="d-md-flex align-items-center mt-3">
                         
                          <div class="ms-auto mt-3 mt-md-0">
                            <button
                              type="submit"
                              class="btn btn-info font-medium rounded-pill px-4"
                            >
                              <div class="d-flex align-items-center">
                                <i class="ti ti-send me-2 fs-4"></i>
                                Submit
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              
          
            </div>
          

          <!-- container-fluid over -->
        </div>
    <div class="row">
        <div class="col-12">
          
          <div class="card">
            <div class="card-body">
              <h5 class="mb-3">Remove User</h5>
              <form action="/api/remove-user" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="row">
                
                 
                  <div class="col-md-6">
                    
                    <select
                  class="select2 form-control"
                  style="width: 100%; height: 48px"
                  name="id"
                >
                  <option>Select User</option>
                  <% users.map(user=>{ %>
                    <option value="<%= user._id %>"><%= user.username %></option>
                    <% }) %>
                </select>
                    
                    
                  </div>
                 
                  
                  <div class="col-12">
                    <div class="d-md-flex align-items-center mt-3">
                     
                      <div class="ms-auto mt-3 mt-md-0">
                        <button
                          type="submit"
                          class="btn btn-info font-medium rounded-pill px-4"
                        >
                          <div class="d-flex align-items-center">
                            <i class="ti ti-send me-2 fs-4"></i>
                            Submit
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
      
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Username</th>
                        
                    </tr>
                </thead>
                <tbody>
                  <% users.map(user=>{ %>
                    <tr>
                      <td><%= user._id %></td>
                      <td><%= user.name  %></td>
                      <td><%= user.username  %></td>
                      
                  </tr>
                    <% }) %>
                 
                </tbody>
            </table>
        </div>
    

        </div>
      </div>
      </div>
    </div>

    
    <!-- Customizer -->
   <button class="btn btn-primary p-3 rounded-circle d-flex align-items-center justify-content-center customizer-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="ti ti-settings fs-7" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Settings"></i>
  </button>
  <div class="offcanvas offcanvas-end customizer" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-simplebar="">
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom">
      <h4 class="offcanvas-title fw-semibold" id="offcanvasExampleLabel">Settings</h4>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-4">
      <div class="theme-option pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Option</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <a href="javascript:void(0)"  onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 light-theme text-dark">
            <i class="ti ti-brightness-up fs-7 text-primary"></i>
            <span class="text-dark">Light</span>
          </a>
          <a href="javascript:void(0)" onclick="toggleTheme('/dashboard/dist/css/style-dark.min.css')" class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center gap-2 dark-theme text-dark">
            <i class="ti ti-moon fs-7 "></i>
            <span class="text-dark">Dark</span>
          </a>
        </div>
      </div>
    
      <div class="theme-colors pb-4">
        <h6 class="fw-semibold fs-4 mb-1">Theme Colors</h6>
        <div class="d-flex align-items-center gap-3 my-3">
          <ul class="list-unstyled mb-0 d-flex gap-3 flex-wrap change-colors">
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin1-bluetheme-primary active-theme " onclick="toggleTheme('/dashboard/dist/css/style.min.css')"  data-color="blue_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="BLUE_THEME"><i class="ti ti-check text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)"  class="rounded-circle position-relative d-block customizer-bgcolor skin2-aquatheme-primary " onclick="toggleTheme('/dashboard/dist/css/style-aqua.min.css')"  data-color="aqua_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="AQUA_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin3-purpletheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-purple.min.css')"  data-color="purple_theme" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PURPLE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin4-greentheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-green.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GREEN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin5-cyantheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-cyan.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CYAN_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
            <li class="rounded-2 p-9 customizer-box hover-img d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" class="rounded-circle position-relative d-block customizer-bgcolor skin6-orangetheme-primary" onclick="toggleTheme('/dashboard/dist/css/style-orange.min.css')"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="ORANGE_THEME"><i class="ti ti-check  text-white d-flex align-items-center justify-content-center fs-5"></i></a>
            </li>
          </ul>
        </div>
      </div>
    
     
     
      
    </div>
  </div>
        <!-- Customizer -->
    <!-- Import Js Files -->
    <script src="/dashboard/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="/dashboard/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/dashboard/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- core files -->
    <script src="/dashboard/dist/js/app.min.js"></script>
    <script src="/dashboard/dist/js/app.init.js"></script>
    <script src="/dashboard/dist/js/app-style-switcher.js"></script>
    <script src="/dashboard/dist/js/sidebarmenu.js"></script>
    <script src="/dashboard/dist/js/custom.js"></script>
    <!-- current page js files -->
    <script src="/dashboard/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/dashboard/dist/js/dashboard5.js"></script>
  </body>

</html>